{% extends 'ar/base.html' %}
{% load static %}


{% block style %}
    <!-- Demo styles -->
    <style>

        .swiper {
          width: 100%;
          height: 100vh;
        }
  
        .swiper-slide {
          text-align: start;
          font-size: 18px;
          background: #fff;
  
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: block;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
            overflow: hidden;
        }
  
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
          .nav-toggler span{
              background-color: #006870;
          }
      </style>
{% endblock %}
{% block body %}
        


        
     
        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/new/bg1.jpg)">
            <div class="auto-container">
                 <ul class="page-breadcrumb">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li>منتجات الشركة </li>
                </ul>
                <h2>منتجات سول كيما </h2>
               
            </div>
        </section>
        <!--End Page Title-->


        <div class="ProductDetailsPage">
        <!-- Project Detail -->
        <section class="project-detail">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="upper-box">
                            <div class="single-item-carousel owl-carousel owl-theme">
                                {% for image in product.images.all %}
                                <figure class="image">
                                    <a href="{{image}}" class="lightbox-image">
                                        <img src="{{image}}" alt="">
                                    </a>
                                </figure>
                                 {% endfor %}   
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="text-column">
                                <h2>{{product.title_ar}}</h2>
                                <div class="text">
                                    <p>{{product.description_ar}}</p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="info-column">
                             
                            <div class="sidebar-widget brochure-box">
                                <div class="inner">
                                    <h4>مواصفات المنتج</h4>
                                    <div class="singlebrochour-item-carousel owl-carousel owl-theme">
                                        {% for pdf in product.product_specifications.all %}
                                        <a class="theme-btn btn-style-one" href="{{pdf.pdf.url}}"><span class="btn-title"><i class="fa fa-file-pdf"></i>  {{pdf.title}}</span></a>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="sidebar-widget brochure-box">
                                <div class="inner">
                                    <h4>بيانات السلامة</h4>
                                    <div class="singlebrochour-item-carousel owl-carousel owl-theme">
                                        {% for pdf in product.safety_data.all %}
                                        <a class="theme-btn btn-style-one" href="{{pdf.pdf.url}}"><span class="btn-title"><i class="fa fa-file-pdf"></i> {{pdf.title}}</span></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                       
                            <div class="ProductInQery">
                                <div class="btn-box">
                                    <a href="{% url 'products:inquery_product_ar'  %}" class="theme-btn btn-style-two d-block">
                                        <span class="btn-title">استفسار عن منتج</span>
                                    </a>
                                </div>
                            </div>
                  
                            
                
                        </div>
                    
                    </div>
                </div>
                <!-- Upper Box -->
                

            </div>
        </section>
        <!--End Project Detail -->

        </div>
        
 
    
 
  {% block script %}
  <script>
    var swiper = new Swiper(".mySwiper", {
      direction: "vertical",
      slidesPerView: 1,
        speed: 1000,
      spaceBetween: 0,
      mousewheel: true,
        autoplay:false,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
  {% endblock %}
        
  {% endblock %}