{% extends 'base.html' %}
{% load static %}
<!---extends base.html -->
{% block style %}

{% endblock %}

{% block body %}

        
     
        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/new/bg1.jpg)">
            <div class="auto-container">
                 <ul class="page-breadcrumb">
                    <li><a href="{% url 'home:home' %}">home</a></li>
                    <li>Contact Us</li>
                </ul>
                <h2>Contact Us</h2>
            </div>
        </section>
        <!--End Page Title-->

        <div class="contactUspage">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="rightSide">
                            <div class="GetinTouch">
                                <div class="titiitle">
                                    <h2>Get in Touch</h2>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Your Name<span>*</span></label>
                                                <input type="text" class="form-control" placeholder="Your Name" name="name" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Your Email<span>*</span></label>
                                                <input type="email" class="form-control" placeholder="Your Email" name="email" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <label>Country Code</label>
                                                <select class="form-control" name="country_code" required>
                                                    <option>Select </option>
                                                    {% for country in country_code %}
                                                    <option value="{{country.id}}">{{country.code}}-{{country.country}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 ">
                                            <div class="form-group">
                                                <label>Phone<span>*</span></label>
                                                <input type="text" class="form-control" placeholder="5*************" name="phone" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Message Type<span>*</span></label>
                                                <select class="form-control" name="message_type" required>
                                                    <option value="" selected="selected">- Select -</option>
                                                    {% for message in message_type %}
                                                    <option value="{{message.id}}">{{message.type}}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Subject<span>*</span></label>
                                                <input type="text" class="form-control" placeholder="Subject" name="subject" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Message<span>*</span></label>
                                                <textarea class="form-control" style="height: 150px" required name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button type="submit" class="SendBTN">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--django message with button to close -->
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="SolChemOffices">
                            <div class="row">
                                {% for contact in contact_info %}
                                <div class="col-lg-12">
                                    <div class="infosolslschem">
                                        <h4>{{contact.title}}</h4>
                                        <p class="mt-3">{{contact.description}}</p>
                                        <div class="infoItem my-3 mb-0">
                                            <img src="{% static 'images/new/main-icon.svg' %}" alt="main-icon">
                                            <a href="mailto: info@solochem.com">{{contact.email}}</a>
                                        </div>
                                        <div class="infoItem my-3">
                                            <img src="{% static 'images/new/phone-icon.svg' %}" alt="phone-icon">
                                            <a href="tel:+123 13 801 9392">{{contact.phone}}</a>
                                        </div>
                                        {% if contact.website %}
                                        <div class="infoItem my-3">
                                            <img src="{% static 'images/new/globe.png' %}" alt="phone-icon">
                                            <a href="{{contact.website}}">{{contact.website}}</a>
                                        </div>
                                        {% endif %}
                                        <div class="infoItem my-3">
                                            <img src="{% static 'images/new/location.svg' %}" alt="main-icon">
                                            <a href="{{contact.locaction}}" target="_blank">
                                                <span>{{contact.address}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="col-lg-12">
                                    <div class="infosolslschem">
                                        <h4>CEO/ Saeid Nabih</h4>
                                        
                                        <div class="infoItem my-3 mb-0">
                                            <img src="{% static 'images/new/main-icon.svg' %}" alt="main-icon">
                                            <a href="mailto: S.nabih@solchema.com ">S.nabih@solchema.com </a>
                                        </div>
                                       
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="infosolslschem">
                                        <h4>Marketing Manager: Eslam Sobih</h4>
                                        <div class="infoItem my-3 mb-0">
                                            <img src="{% static 'images/new/main-icon.svg' %}" alt="main-icon">
                                            <a href="mailto: E.Sobih@solchema.com ">E.Sobih@solchema.com </a>
                                        </div>
                                        <div class="infoItem my-3">
                                            <img src="{% static 'images/new/phone-icon.svg' %}" alt="phone-icon">
                                            <a href="tel:+20 1500076644">+20 1500076644</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="infosolslschem">
                                        <h4>purchasing Manager: Amira Salama</h4>
                                        
                                        <div class="infoItem my-3 mb-0">
                                            <img src="{% static 'images/new/main-icon.svg' %}" alt="main-icon">
                                            <a href="mailto: a.salama@solchema.com ">a.salama@solchema.com </a>
                                        </div>
                                        <div class="infoItem my-3">
                                            <img src="{% static 'images/new/phone-icon.svg' %}" alt="phone-icon">
                                            <a href="tel:+20 1500076622">+20 1500076622</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block script %}
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
            direction: "vertical",
            slidesPerView: 1,
              speed: 1000,
            spaceBetween: 0,
            mousewheel: true,
              autoplay:false,
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            });
            </script>
        {% endblock %}
        
        
        {% endblock %}