{% extends 'base.html' %}
{% load static %}
<!---extends base.html -->

{% block style %}

{% endblock %}

{% block body %}
        
     
        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/new/bg1.jpg)">
            <div class="auto-container">
                 <ul class="page-breadcrumb">
                    <li><a href="{% url 'home:home' %}">home</a></li>
                </ul>
                <h2>Privacy Policy</h2>
               
            </div>
        </section>
        <!--End Page Title-->


        
        <div class="Reducing">
            <div class="auto-container">
                <div class="ReducingContent">
                    <div class="mb-3">
                        <h2>1. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    <div class="mb-3">
                        <h2>2. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    <div class="mb-3">
                        <h2>3. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    <div class="mb-3">
                        <h2>4. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    
                    <div class="mb-3">
                        <h2>5. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    <div class="mb-3">
                        <h2>6. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    
                    <div class="mb-3">
                        <h2>7. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>
                    
                    <div class="mb-3">
                        <h2>8. Definitions and Interpretation</h2>
                        <p>Sipchem is committed to advance in diversity and inclusion within the organization regardless of race, ethnicity, gender, religion, economic status, and other diverse backgrounds.</p>
                    </div>

                  
                </div>
            </div>
        </div>
        
        

        
        
        
        
        
        
        
        
        
        
   
{% block script %}
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
    direction: "vertical",
    slidesPerView: 1,
      speed: 1000,
    spaceBetween: 0,
    mousewheel: true,
      autoplay:false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    });
    </script>
{% endblock %}


{% endblock %}