{% extends 'base.html' %}
{% load static %}
<!---extends base.html -->


{% block style %}

{% endblock %}

{% block body %}  
     
        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/new/bg1.jpg)">
            <div class="auto-container">
                 <ul class="page-breadcrumb">
                    <li><a href="{% url 'home:home' %}">home</a></li>
                    <li>Products</li>
                </ul>
                <h2>SolChem Products</h2>
               
            </div>
        </section>
        <!--End Page Title-->


        <div class="ProductDetailsPage">
        <!-- Project Detail -->
        <section class="project-detail">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="upper-box">
                            <div class="single-item-carousel owl-carousel owl-theme">
                                {% for image in product.images.all %}
                                <figure class="image">
                                    <a href="{{image}}" class="lightbox-image">
                                        <img src="{{image}}" alt="">
                                    </a>
                                </figure>
                                 {% endfor %}    
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="text-column">
                                <h2>{{product.title}}</h2>
                                <div class="text">
                                    <p>{{product.description}}</p>
                                </div>

                            </div>
                        </div>
                    
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="info-column">
                            {% if product.product_specifications.exists %}
                            <div class="sidebar-widget brochure-box">
                                <div class="inner">
                                    <h4>Product Specification</h4>
                                    <div class="singlebrochour-item-carousel owl-carousel owl-theme">
                                        {% for pdf in product.product_specifications.all %}
                                        <a class="theme-btn btn-style-one" href="{{pdf.pdf.url}}"><span class="btn-title"><i class="fa fa-file-pdf"></i>  {{pdf.title}}</span></a>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            </div>
                            {% endif %}
                            {% if product.safety_data.exists %}
                            
                            <div class="sidebar-widget brochure-box">
                                <div class="inner">
                                    <h4>Safety Data</h4>
                                    <div class="singlebrochour-item-carousel owl-carousel owl-theme">
                                        {% for pdf in product.safety_data.all %}
                                        <a class="theme-btn btn-style-one" href="{{pdf.pdf.url}}"><span class="btn-title"><i class="fa fa-file-pdf"></i> {{pdf.title}}</span></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                       
                            <div class="ProductInQery">
                                <div class="btn-box">
                                    <a href="{% url 'products:inquery_product'  %}" class="theme-btn btn-style-two d-block">
                                        <span class="btn-title">Product inquiry</span>
                                    </a>
                                </div>
                            </div>
                  
                            
                
                        </div>
                    
                    </div>
                </div>
                <!-- Upper Box -->
                

            </div>
        </section>
        <!--End Project Detail -->

        </div>
        
 
        

        {% block script %}
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
            direction: "vertical",
            slidesPerView: 1,
              speed: 1000,
            spaceBetween: 0,
            mousewheel: true,
              autoplay:false,
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            });
            </script>
        {% endblock %}
        
        
        {% endblock %}